
   body {
    font-family: "Lato", sans-serif;
    margin: 0px;
   }
   
   .aside {
    height: 100%;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(217, 217, 217);

   }
   
   .aside a {
    padding: 5px 5px 45px 16px;
    font-size: 15px;
    display: block;
   text-align:center;
   }

.header{
    color:#fff;
    background-color: rgb(53, 52, 51);
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
    height: 300px;
}
.songname{
    padding-left: 30px;
    padding-top: 10px;
}
.songname i{
    padding-top: 120px;
}
i{
    padding: 5px;
}

.logo{
    padding-left: 150px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom:30px;
    display: flex;
    
}
.main{
    padding-left: 100px;
}

th, td{
   
    padding-top:10px;
    padding: 10px;
}
table{
    margin-top: 10px;
    text-align: left;
    vertical-align: middle;
    width:90%;
    margin-left: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
  }

  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  tbody td:last-child {
    color: rgb(23, 7, 200);
  }

.footer {
    background-color: rgb(43, 59, 144);
    color: white;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    display: flex;
  }
  .footer img{
    padding-top: 20px;
    padding-left: 20px;
    width: 80px;
    height: 80px;
    position: absolute;
  }

  .songnamefoter{
    padding-left: 110px;
    padding-top: 10px;
  }
  
  .fotericon{
    padding-left: 370px;
    padding-top: 60px;
    
  }
  .fotericon i{
    bottom: 0;
    margin-left: 150px;
  }